@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-neutral-950;
  @apply select-none;

  font-family: 'Pirata One', system-ui;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
